<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>

    <section name="smtpConfig" type="Business.Core.Messaging.Config.SmtpConfig, Business.Core.Messaging"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Workspace\\Logs\\MessageLogs.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/-->
        <conversionPattern value="%-5p %d %5rms %c / %M %n%m%n%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>

  <smtpConfig from="Business Default Email Subject">
    <smtpNode email="email" password="email_password" host="smtp.gmail.com" port="587" ssl="true"/>
    <dbNode connectionString="Server=.;Initial Catalog=MessageX;Integrated Security=False;User ID=sa;Password=p@ssword1;MultipleActiveResultSets=True"/>
  </smtpConfig>
  
  <!--<connectionStrings>
    <add name="MessageX" 
         connectionString="Server=.;Initial Catalog=MessageX;Integrated Security=False;User ID=sa;Password=p@ssword1;MultipleActiveResultSets=True" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
