<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <smtpConfig from="Business Default Email Subject">
    <smtpNode email="email" password="email_password" host="smtp.gmail.com" port="587" ssl="true" />
    <dbNode connectionString="Server=.;Initial Catalog=MessageX;Integrated Security=False;User ID=sa;Password=p@ssword1;MultipleActiveResultSets=True"
            xdt:Transform="SetAttributes" xdt:Locator="Match(connectionString)"/>
    <!--<dbNode connectionString="Server=.\SQLEXPRESS;Initial Catalog=MessageX;Integrated Security=False;User ID=sa;Password=p@ssword1;MultipleActiveResultSets=True" />-->
  </smtpConfig>

  <connectionStrings>
    <add name="BusinessMobilityContext"
         connectionString="Server=192.168.1.88;Initial Catalog=BusinessMobilityContext;Integrated Security=False;User ID=sa;Password=godisgood;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.webServer>
    <httpProtocol xdt:Transform="InsertIfMissing">
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>